.pageWrapper {
  background-color: #f8f9fa; /* Fundo cinza claro */
  padding: 4rem 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.pageTitle {
  font-size: 2.8rem;
  font-weight: 700;
  color: #1A234B;
  text-align: center;
  margin-bottom: 3.5rem;
}