.card {
  background-color: white;
  padding: 2.5rem 3rem;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

/* Barra de Progresso */
.progressBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3rem;
}
.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: #9ca3af;
  font-weight: 500;
}
.stepNumber {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e7eb;
}
.line {
  flex-grow: 1;
  height: 2px;
  background-color: #e5e7eb;
  margin: 0 1rem;
  transform: translateY(-8px); /* Alinha com o meio dos números */
}
.active {
  color: #1A234B;
  font-weight: 600;
}
.active .stepNumber {
  background-color: #1A234B;
  color: white;
  border: none;
}

/* Conteúdo */
.title {
  font-size: 1.8rem;
  color: #1A234B;
  margin-bottom: 2rem;
  text-align: center;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.nextButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #374151; /* Cinza escuro */
  color: white;
  padding: 0.8rem 1.8rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.2s;
}
.nextButton:hover {
  background-color: #1A234B;
}